.counterDisplay {
    width: 512px;
    height: 179px;
    background: #282C36;
    border: 3px solid #65D9F9;
    border-radius: 15px;
    margin: 0 auto;
    margin-top: 35px;
    display: flex;
    justify-content: center;
    align-items: center;

}