.counter {
    width: 568px;
    height: 358px;
    background: #282C36;
    border: 3px solid #65D9F9;
    border-radius: 15px;
    margin: 0 auto;
    margin-top: 120px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #eee;
}

.clock {
    height: 30rem;
    width: 30rem;
    background-color: #000452;
    border: 1rem solid #000447;
    border-radius: 50%;

    position: relative;
}

.circle {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background-color: #000447;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 13;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
}

.hands {
    --rotate: 0;

    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 0) rotate(var(--rotate));
    transform-origin: bottom;
}

.second {
    /*   --rotate: 90deg; */
    width: 0.15rem;
    height: 11rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    background-color: #eee;
    z-index: 12;
}

.minute {
    /*   --rotate: 110deg; */
    width: 0.5rem;
    height: 9rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    background-color: #003d87;
    z-index: 11;
}

.hour {
    /*   --rotate: 60deg; */
    width: 0.5rem;
    height: 7rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    background-color: #005ccc;
}

.number {
    --rotate: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    font-size: 2rem;
    transform-origin: center;
    transform: rotate(var(--rotate));
    padding-top: 0.5rem;
}

.number-1 {
    --rotate: 30deg;
}
.number-2 {
    --rotate: 60deg;
}
.number-3 {
    --rotate: 90deg;
}
.number-4 {
    --rotate: 120deg;
}
.number-5 {
    --rotate: 150deg;
}
.number-6 {
    --rotate: 180deg;
}
.number-7 {
    --rotate: 210deg;
}
.number-8 {
    --rotate: 240deg;
}
.number-9 {
    --rotate: 270deg;
}
.number-10 {
    --rotate: 300deg;
}
.number-11 {
    --rotate: 330deg;
}
.number-12 {
    --rotate: 360deg;
}
